<template>
  <v-container fluid class="pa-0 ma-0">
    <v-row justify="center" no-gutters>
      <h1>This is Main Page</h1>
    </v-row>
    <v-row justify="center" no-gutters>
      <p>นี้คือสถานแห่งบ้านทรายทอง</p>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { createComponent } from '@vue/composition-api';

export default createComponent({
  setup(_, _ctx) {},
});
</script>
